* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

img {
  object-fit: contain;
}

p, h1, h2, h3 {
  margin: 0
}

.logo-container{
  display: flex;
  width: 94%;
  margin: 0 auto;
  justify-content: flex-start;
  padding-top: 40px;
  max-width: 1440px;
}

.page-container {
  width: 94%;
  margin: 0 auto;
  margin-top: 106px;
  max-width: 1440px;
}

h1 {
  font-size: 60px;
  line-height: 84px;
  font-family: "Lato-Bold";
}

h2 {
  font-size: 30px;
  line-height: 38px;
  font-family: "Lato-Bold";
}

h3 {
  font-size: 30px;
  line-height: 38px;
  font-family: "Lato-Bold";
}

.about-me {
  margin: 0 64px;
  display: flex;
  align-items: center;
}


.about-image {
  
  margin-right: 89px;
}

p {
  font-family: "Lato-Regular";
  font-size: 20px;
  line-height: 28px;
  margin-top: 22px;
}

.about-info {
  margin-top: 95px;
}

.logos-container {
  margin-top: 33px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 160px;
  row-gap: 40px;
}

.contact {
  margin-top: 134px;
  text-align: center;
}

.contact-sentence{
  font-size: 60px;
  line-height: 84px;
  font-family: "Lato-Bold";
}

.project-button {
  width: 185px;
  min-height: 56px;
  border: 1px solid #000000;
  font-family: "Lato-Regular";
  font-size: 20px;
  line-height: 28px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 52px;
}

.project-button:hover {
  background-color: black;
  color: white;
}

.project-button:active {
  background-color: #5F5F5F;
  color: white;
}

a {
  font-size: 20px;
  line-height: 28px;
  color: black;
  font-family: "Lato-Regular";
}

a:hover {
  font-weight: bold;
}

a:active {
  color: #7F7F7F;
}

a:visited {
  color: black;
}


footer {
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 89px;
}

.footer-p {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
}

.footer-description {
  width: 40%;
}

.footer-link {
  display: block;
  text-align: right;
  text-decoration: none;
}

.media-links {
  margin-top: 32px;
  text-align: right;
}

.media-links a {
  text-decoration: none;
}

.media-links img {
  object-fit: cover;
}

.media-links img:not(:last-child) {
  margin-right: 33px;
}

@media only screen and (max-width: 415px) {
  .logo-container{
    display: flex;
    width: 96%;
    margin: 0 auto;
    justify-content: flex-start;
    padding-top: 16px;
  }

  img {
    max-width: 100%;
  }

  .logo-container img{
    width: 130px;
    height: 32px;
  }
  
  .page-container {
    width: 96%;
    margin: 0 auto;
    margin-top: 48px;
    max-width: 100%;
  }

  h1 {
    font-size: 28px;
    line-height: 28px;
    margin-top: 17px;
    margin-left: 8px;
  }

  h2 {
    font-size: 16px;
    line-height: 16px;
    margin-left: 8px;
  }

  .about-me {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .about-description {
    width: 100%;
    margin-top: 30px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 30px;
  }
  
  .about-image {
    margin-right: 0px;
    width: 100%;
  }

  h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .logos-container {
    margin-top: 33px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 72px;
    row-gap: 35px;
  }

  .logos-container img {
    width: 94px;
    height: 23px;
  }

  .logos-container img:nth-child(2n) {
    justify-self: start;
  }

  .logos-container img:nth-child(2n+1) {
    justify-self: end;
  }

  .contact-sentence {
    font-size: 20px;
    line-height: 28px;
  }

  .contact {
    margin-top: 77px;
  }

  .project-button {
    min-height: 32px;
    width: 151px;
    font-size: 14px;
    line-height: 28px;
    margin-top: 30px;
  }

  footer {
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 24px;
  }

  .footer-description, .footer-media {
    width: 100%;
  }

  .footer-p {
    font-size: 20px;
    line-height: 26px;
  }

  .footer-links {
    margin-top: 25px;
  }

  .footer-link {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
  }

  .media-links {
    margin-top: 32px;
    text-align: right;
    text-align: center;
  }
  
  .media-links a {
    text-decoration: none;
  }
  
  .media-links img {
    object-fit: cover;
  }
  
  .media-links img:not(:last-child) {
    margin-right: 33px;
  }
}